<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="../../../public/image/weather.png"/>
        <link rel="stylesheet" href="./css/styles.css"/>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This website was created by me. It uses data from mapbox and openweather !!</p>
            <img class="portrait" src="image/user.png"/>
        </div>
        {{>footer}}
    </body>
</html>